discord_token: ""
riot_token: ""

bot:
  command_prefix: "!"
  description: "The seaweed is always greener\nIn somebody else's lake"

username: "Ariel"
playing: "Under the Sea"

admin_role_names: [""]
admin_user_ids: [""]

lol_version: "7.10.1"

quotes: ["Blub blub! I'm a fish!"]

embed_colour: 0x418df2

autodel_channel_ids: [""]
autodel_time: 5.0
